@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-bg: #F8FAFC;
  --color-brand-sidebar: #1E293B;
  --color-brand-primary: #2563EB;
  --color-brand-accent: #3B82F6;
  --color-brand-border: #E2E8F0;
  --color-brand-text-main: #0F172A;
  --color-brand-text-muted: #64748B;
  --color-brand-success: #10B981;
}
